@import url('https://fonts.cdnfonts.com/css/museo-sans-rounded');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: montserrat;
}

nav {
    background: rgb(19, 18, 18);
    background: #D92128;
    height: 80px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
}

a.active,
a:hover {
    background-color: rgba(255, 255, 255, 0.243);
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media(max-width:952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width:858px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: rgb(202, 9, 9);
    }

    #check:checked~ul {
        left: 0;
    }
}

#fist-div{
    width: 100%;
    margin-top: -17px;
}

.contain{
    margin: 100px 120px;
    /* background-color: red; */
}

.up{
    margin-left: 20px;
}

.about1{
    color: #58595B;
}

.about2{
    margin-top: 15px;
    width:520px;
    font-size: 16px;
    font-weight:200;
    font-family: 'Museo Sans Rounded', sans-serif;
    text-decoration:none solid rgb(88, 89, 91);
    line-height:25.6px;
    letter-spacing:0.1px;
}

.box{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#box1{
    background-color: #F3F3F3;
    height: 100vh;
    width: 640px;
    padding-left: 145px;
    padding-top: 110px;
    padding-right: 90px;
}

.thepss{
    padding-top: 20px;
}

.thepss>p{
    font-size:16px;
    line-height: 22.6px;
    font-weight: 100px;
    color: #7A7A7A;
}

.aboutbutton{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 70px;
}

.aboutbutton>button{
    background-color: #D92128;
    color: white;
    border: none;
    border-radius: 15px;
    height: 30px;
    width: 150px;
    font-size: 14px;
    margin-top: 20px;
}

.aboutbutton>button:hover{
    background-color: #58595B;
}

#box2{
    background-image: url(Abimg/ST_1-1.jpg);
    
}
